<div class="title-block">
  <h3 class="title">Planning Page <span class="sparkline bar"></span></h3>
</div>
<section class="section" *ngIf="isLoaded; else inLoading">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Expenses</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Total balance:
            <span class="text-success">
              {{ bill.value | number: "1.2" }} Ils
            </span>
          </h5>
        </div>

        <div class="card-block">
          <div class="row" *ngFor="let c of categories">
            <div class="col-xs-6">
              <div class="n-progress">
                <div
                  class="progress-bar"
                  [ngClass]="getCatColorClass(c)"
                  [ngStyle]="{
                    width: getGatPercent(c)
                  }"
                >
                  <span>{{ c.name }}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span [ngClass]="'text-' + getCatColorClass(c)">{{
                  getCategoryCost(c) | number: "1.2"
                }}</span>
                from
                <span class="text-primary">
                  {{ c.capacity | number: "1.2" }}
                </span>
                | left
                <span [ngClass]="'text-' + getCatColorClass(c)">
                  {{ c.capacity - getCategoryCost(c) | number: "1.2" }}</span
                >
                (ש"ח)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #inLoading class="text-center">
  <p><wfm-loader></wfm-loader></p>
</ng-template>
