<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Edit category</h3>
    </div>
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label class="control-label" for="e-select-category">Choose Category</label>
        <select class="form-control" id="e-select-category">
          <option *ngFor="let category of categories">
            1
          </option>
        </select>
      </div>

      <div
      [ngClass]="{'has-error': name.invalid && name.touched, 'has-success': !name.invalid && name.touched}"
      class="form-group">
        <label class="control-label" for="category-name">Edit name</label>
        <input type="text" id="e-category-name" name="name" #name="ngModel" ngModel required class="form-control">
        <span class="form-help-text" *ngIf="name.invalid && name.touched">Mandatory field</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': capacity.invalid && capacity.touched, 'has-success': !capacity.invalid && capacity.touched}">
        <label class="control-label" for="category-value">Enter limit</label>
        <input type="number" min="1" id="e-category-value" class="form-control" required template="[1-100000000]" name="capacity" #capacity="ngModel" [ngModel]="1">
        <span class="form-help-text" *ngIf="capacity.invalid && capacity.touched">Invalid value</span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Send</button>
    </form>
  </div>
</div>
