<p class="text-xs-center">SignIn</p>
<div @fade class="alert alert-{{ message.type }}" *ngIf="message.text !== ''">
  {{ message.text }}
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{
      'has-error': form.get('email').invalid && form.get('email').touched
    }"
  >
    <label for="email">Email</label>
    <input
      formControlName="email"
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-heplp-text">
    <span
      class="alert alert-danger"
      *ngIf="
        form.get('email').hasError('required') && form.get('email').touched
      "
      >Enter email value</span
    >
    <span
      class="alert alert-danger"
      *ngIf="form.get('email').hasError('email') && form.get('email').touched"
      >Invalid value</span
    >
  </div>

  <div
    class="form-group"
    [ngClass]="{
      'has-error': form.get('password').invalid && form.get('password').touched
    }"
  >
    <label for="password">password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Password"
    />
  </div>
  <div class="form-heplp-text">
    <span
      class="alert alert-danger"
      *ngIf="
        form.get('password').hasError('required') &&
        form.get('password').touched
      "
      >Enter password value</span
    >
    <span
      class="alert alert-danger"
      *ngIf="
        form.get('password').hasError('minlength') &&
        form.get('password').touched
      "
    >
      Password must to be more then:
      {{ form.get("password")["errors"]["minlength"]["requiredLength"] }} Now
      is: {{ form.get("password")["errors"]["minlength"]["actualLength"] }}
    </span>
  </div>
  <br />
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >
      Enter
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Have you account? <a [routerLink]="'/registration'">Signin!</a>
    </p>
  </div>
</form>
